* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neue Haas Grotesk Text Pro";
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home #circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
}

#btm img:nth-child(1) {
  transform: translate(-50%, -50%) scale(0.5);
}

#btm img:nth-child(2) {
  transform: translate(-50%, -50%) scale(0.7);
}

#btm img:nth-child(3) {
  transform: translate(-50%, -50%) scale(1);
}

/* 
#top img:nth-child(0) {
  transform: translate(-50%, -50%) scale(1);
} */

#top img:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-180);
}

#top img:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-180);
}
#top img:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-180);
}

#overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#smcircle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45vw;
  border-radius: 50%;
  height: 45vw;
  background-color: rebeccapurple;
}

#focus-img {
  position: absolute;
  right: 1.4%;
  top: 48%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
#focus-img:hover {
  cursor: pointer;
}
#focus-img img {
  width: 60%;
}

/* #nav{
  padding: 60px 60px;
  height: 7vh;
  width: 100%;  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9999999999999999999;
} */

#right-nav h3 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}
#shades {
  display: flex;
  height: 1.5vh;
  width: 100%;
  background-color: green;
}
#shade1 {
  height: 100%;
  width: 16.6%;
  background-color: rgba(225, 225, 225, 225);
}
#shade2 {
  height: 100%;
  width: 16.6%;
  background-color: rgba(187.5, 187.5, 187.5, 187.5);
}
#shade3 {
  height: 100%;
  width: 16.6%;
  background-color: rgba(150, 150, 150, 150);
}
#shade4 {
  height: 100%;
  width: 16.6%;
  background-color: rgba(112.5, 112.5, 112.5, 112.5);
}
#shade5 {
  height: 100%;
  width: 16.6%;
  background-color: rgba(75, 75, 75, 75);
}
#shade6 {
  height: 100%;
  width: 16.6%;
  background-color: rgba(37.5, 37.5, 37.5, 37.5);
}
#purple-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 7vw;
  width: 7vw;
  background-color: #c99eaa;
  border-radius: 50%;
  z-index: 9999999;
}
#overlay > h2 {
  position: absolute;
  color: #fff;
  font-size: 200px;
  top: 110%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(20deg);
  -ms-transform: translate(-50%, -50%) rotate(20deg);
  transform: translate(-50%, -50%) rotate(20deg);
  font-weight: 500;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
#purple-box {
  height: 60vh;
  width: 30%;
  background-color: #d5a7b4;
  position: absolute;
  top: 100%;
}
#inner-purple {
  position: relative;
  height: 40%;
  width: 30%;
  font-size: 12px;
  top: 55%;
  left: 24%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#inner-purple > span {
  position: absolute;
  padding-left: 20px;
  padding-top: 20px;
  color: #fff;
}
#inner-purple > span > h3 {
  font-weight: 500;
  margin-top: 5px;
}
#inner-purple > h3 {
  color: #fff;
  font-weight: 500;
}
#inner-purple-btm {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 80px;
  height: 8vh;
  width: 100%;
  position: absolute;
  bottom: 5%;
  color: #fff;
}
#inner-purple-btm > h2 > span {
  font-size: 12px;
  position: absolute;
  left: 7%;
  font-weight: 500;
}
#inner-purple-btm > h2 {
  font-size: 40px;
  font-weight: 500;
}
#inner-purple-btm > h3 > span {
  font-size: 12px;
  position: absolute;
  left: 50%;
  font-weight: 500;
}
#inner-purple-btm > h3 {
  font-size: 40px;
  font-weight: 500;
}
#focus-img {
  position: absolute;
  right: 1.4%;
  top: 48%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
#focus-img:hover {
  cursor: pointer;
}
#focus-img img {
  width: 60%;
}
#focus-blur {
  width: 100%;
  height: 100%;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
  -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
  display: none;
}
#focus-blur img {
  width: 100%;
}
#focus {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
  -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
}
#focus img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35%;
}

#home #nav #second #nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: absolute;
  color: black;
  padding: 10px 30px;
  text-transform: uppercase;
}

#nav h1 {
  color: #fff;
  font-size: 1.1vw;
}

#centerimg {
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#centerimg h5 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

#centerimg #cimg {
  width: 100%;
  height: 260px;
  overflow: hidden;
}

#cimg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  object-fit: cover;
}

#second {
  position: relative;
  height: 100vh;
  width: 100%;
}

#overlay #gallery {
  z-index: 9999;
  position: absolute;
  bottom: 0;
  line-height: 1;
  left: 50%;
  text-transform: uppercase;
  pointer-events: none;
  transform: translate(-50%, 0%);
  font-weight: 400;
  font-size: 10vw;
}

#pf {
  color: #d5a7b4;
  position: absolute;
  bottom: 2%;
  z-index: 999999;
  line-height: 1;
  left: 50%;
  text-transform: uppercase;
  pointer-events: none;
  transform: translate(-50%, 0%) rotate(30deg);
  transform-origin: 0% 50%;
  font-weight: 400;
  font-size: 10vw;
}

#stop {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 65%;
  border-bottom: 1px solid #daddad;
}

#sbtm {
  position: relative;
  width: 100%;
  height: 35%;
}

#sbtm p {
  position: absolute;
  left: 50%;
  text-transform: uppercase;
  top: 50%;
  font-size: 3vw;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: 1;
}

#sbtm p:nth-child(1) {
  opacity: 0;
}

.cirlce {
  position: absolute;
  width: 14vw;
  height: 14vw;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: red;
}

#stop .pu {
  left: 45%;
  background-color: #b4aad5;
}

#stop .pi {
  left: 55%;
  background: linear-gradient(to right, #d5a7b4, #b4aad5);
}

#stop h1 {
  bottom: 0;
  line-height: 1;
  left: 100%;
  position: absolute;
  font-size: 21vw;
  font-weight: 100;
  z-index: 9999;
  color: #fff;
}

@media (max-width: 500px) {
  #home #nav #second #nav {
    padding: 20px;
  }
  #nav h1 {
    font-size: 3vw;
  }
  #centerimg {
    width: 80vw;
  }
  #centerimg #cimg {
    height: 180px;
  }
}
